{% extends 'default/layouts/login.html' %}
{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 order-2 order-lg-1">
            <!-- About box -->
            {% include 'default/auth/about.html' %}
            <!-- Register box -->
            {% include 'default/auth/register.html' %}
        </div>
        <div class="col-12 col-lg-6 order-1 order-lg-2">
            <!-- Login box -->
            {% include 'default/auth/login.html' %}
            <!-- Extra box -->
            {% include 'default/auth/extra.html' %}
        </div>
    </div>
{% endblock %}