{% extends 'default/layouts/loggedin.html' %}
{% block body %}
<div class="page-img d-none d-md-block">
    <img src="{{ base_url }}public/assets/img/pages/healthcare/header_healthcare.jpg" class="img-fluid">
</div>
<div class="game-body">
    <div class="game-header">Kirovska Insurances, Moscow Branch.</div>
    <div class="game-box small">
        <p>Headquartered in Moscow, Kirovska is the largest provider of Health Insurance in Eastern Europe, offering health plans for everyone. An amalgamation of former state run hospitals, Kirovska is in business purely for profit; executives of Kirovska do not care who they treat, and likewise do not care about your privacy or security.</p>
        {% if user.getHospital().H_plan == 0 %}
            <p class="mt-2 font-weight-bold">You are currently not covered by an insurance plan. </p>
        {% else %}
            <p class="mt-2 font-weight-bold">You are currently covered by a {{ healthPlans[user.getHospital().H_plan]['name'] }} Coverage Plan. Hospital visits are free of charge.</p>
            <p class="mt-2 text-danger">Your contract expires on <span id="hospitalPlan"></span>.</p>
        {% endif %}
    </div>
    <div class="row no-gutters">
        <div class="col-6 col-md-3">
            <div class="game-box">
                <p class="font-weight-bold text-white">No Plan</p>
                <p class="small">Gain 8% health for 525,000 per hour, payable when you need healthcare.</p>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="game-box">
                <p class="font-weight-bold text-white">Basic Plan</p>
                <p class="small">150,000 Plan includes 5% per hour healthcare service.</p>
                {% if user.getHospital().H_plan == 0 %}
                <form method="post" action="{{ base_url }}healthcare/plan" class="text-center">
                    <input type="hidden" name="plan" value="1">
                    <input type="hidden" name="token" value="{{ token }}">
                    <button class="btn btn-dark m-0">Purchase Plan</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="game-box">
                <p class="font-weight-bold text-white">Premium Plan</p>
                <p class="small">240,000 Plan includes 10% per hour healthcare service.</p>
                {% if user.getHospital().H_plan == 0 %}
                <form method="post" action="{{ base_url }}healthcare/plan" class="text-center">
                    <input type="hidden" name="plan" value="2">
                    <input type="hidden" name="token" value="{{ token }}">
                    <button class="btn btn-dark m-0">Purchase Plan</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="game-box">
                <p class="font-weight-bold text-white">Instant Health!</p>
                <p class="small">10 credits per 10% health increase. No hospital check-in is required.</p>
                {% if user.getHospital().H_plan == 0 %}
                <form method="post" action="{{ base_url }}healthcare/plan" class="text-center">
                    <input type="hidden" name="plan" value="3">
                    <input type="hidden" name="token" value="{{ token }}">
                    <button class="btn btn-dark m-0">Purchase Plan</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="game-body">
    <div class="game-header">Hospital Check in</div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-box">
                {% if user.getTimer('hospital') <= time %}
                    <p class="small">Select how many hours you would like to check into the Hospital. While you are in the Hospital, you cannot travel, gamble or use most game & money features.</p>
                    <form method="post" action="{{ base_url }}healthcare/checkin">
                        <div class="form-group mb-0">
                            <div class="row">
                                <div class="col-2 col-md-2">
                                    <label for="hours">Hours</label>
                                </div>
                                <div class="col-10 col-md-5">
                                    <select class="form-control custom-select" name="hours" id="hours">
                                        <option value="1">1 hour</option>
                                        <option value="2">2 hours</option>
                                        <option value="3">3 hours</option>
                                        <option value="4">4 hours</option>
                                        <option value="5">5 hours</option>
                                        <option value="6">6 hours</option>
                                        <option value="7">7 hours</option>
                                        <option value="8">8 hours</option>
                                        <option value="9">9 hours</option>
                                        <option value="10">10 hours</option>
                                        <option value="11">11 hours</option>
                                        <option value="12">12 hours</option>
                                        <option value="13">13 hours</option>
                                        <option value="14">14 hours</option>
                                        <option value="15">15 hours</option>
                                        <option value="16">16 hours</option>
                                        <option value="17">17 hours</option>
                                        <option value="18">18 hours</option>
                                        <option value="19">19 hours</option>
                                        <option value="20">20 hours</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-3">
                                    <input type="hidden" name="token" value="{{ token }}">
                                    <button class="btn btn-dark mb-0">Check In</button>
                                </div>
                            </div>
                        </div>
                    </form>
                {% else %}
                    <h3 class="text-center">You are in hospital!</h3>
                    <p class="text-center mt-1">You are going to leave after <span id="inHospital" class="text-success font-weight-bold"></span></p>
                {% endif %}
            </div>
        </div>
        <div class="d-none d-md-block col-md-6">
            <div class="page-img">
                <img src="{{ base_url }}public/assets/img/pages/healthcare/hospitalbeds.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</div>
{% endblock %}