{% extends 'default/layouts/loggedin.html' %}
{% block body %}
<ul class="game-tabs">
    <li class="tab-item active"><a href="{{ settings.get('website_url') }}bulletfactory" class="tab-link">Bullet Factory</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}bulletfactory/steel" class="tab-link">Steel Factory</a></li>
</ul>
<div class="page-img d-none d-md-block">
    <img src="{{ settings.get('website_url') }}public/assets/img/pages/bulletfactory/header_bulletfactory.jpg" class="img-fluid">
</div>
<div class="row">
    <div class="col-12 col-md-10 mr-auto ml-auto">
        {% if user.getTimer('bulletsfactory') > time %}
            <div class="alert alert-info mt-2">
                <i class="fal fa-clock pr-2"></i>You can buy bullets again after <span id="bulletsfactory"></span> seconds.
            </div>
        {% endif %}
        <div class="game-body">
            <i class="fal fa-clock"></i> {{ location.getUserLocation().L_name }} Bullet Factory will release the next batch of bullets in <span id="releaseTime"></span>.
        </div>
    </div>
    <div class="col-12">
        <div class="game-body">
            <div class="row">
                <div class="col-12 col-md-4">
                    <div class="game-header">Factory Stock</div>
                    <div class="game-box">
                        <ul class="statics-menu">
                            <li>
                                <span class="static-name">Bullets available:</span>
                                <span class="static-num">
                                    {% if location.getUserLocation().L_bullets <= 0 %}
                                        Sold Out
                                    {% else %}
                                        {{ location.getUserLocation().L_bullets | number_format }} Bullets
                                    {% endif %}
                                </span>
                            </li>
                            <li>
                                <span class="static-name">Bullet price:</span>
                                <span class="static-num">${{ location.getUserLocation().L_bulletsCost | number_format }} / Bullet</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="game-header">Next Release</div>
                    <div class="game-box">
                        <ul class="statics-menu">
                            <li>
                                <span class="static-name" style="width: 50%">Steel Source:</span>
                                <span class="static-num" style="width: 50%"><a href="">Strictly Business Steel</a></span>
                            </li>
                            <li>
                                <span class="static-name" style="width: 50%">Release Size:</span>
                                <span class="static-num" style="width: 50%">1,500 / 1,500 Bullets</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="game-header">Purchase</div>
                    <div class="game-box">
                        <form method="post" action="{{ settings.get('website_url') }}bulletfactory/purchase">
                            <div>Amount to purchase:</div>
                            <input type="hidden" name="token" value="{{ token }}">
                            <div class="row">
                                <div class="col-7">
                                    <input class="form-control" type="number" name="bullets" placeholder="100">
                                </div>
                                <div class="col-5">
                                    <button class="btn btn-dark">Purchase</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="text-center text-muted small">This Bullet Factory is controlled by Strictly Business and managed by StormRiderII.</p>
{% endblock %}