{% extends 'default/layouts/loggedin.html' %}
{% block body %}
<ul class="game-tabs">
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews" class="tab-link">Overview</a></li>
    <li class="tab-item active"><a href="{{ settings.get('website_url') }}crews/bank" class="tab-link">Crew Bank</a></li>
{% if user.stats().GS_crewLevel == 6 %}
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/manage" class="tab-link">Manage Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/edit" class="tab-link">Edit Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
{% elseif user.stats().GS_crewLevel >= 5 %}
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/edit" class="tab-link">Edit Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
{% elseif user.stats().GS_crewLevel >= 4 and user.stats().GS_crewLevel >= 3 and user.stats().GS_crewLevel >= 2 %}
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
{% endif %}
</ul>
<form method="post" action="{{ settings.get('website_url') }}/crews/donate" class="game-body">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-header">Donate Money</div>
            <div class="game-box">
                <ul class="statics-menu">
                    <li>
                        <span class="static-name">Money:</span>
                        <span class="static-num">${{ crew.data().C_bank | number_format }}</span>
                    </li>
                </ul>
                <hr>
                <input type="number" class="form-control" name="cash" placeholder="Amount">
                <div class="text-right">
                    <input type="submit" class="btn btn-dark" name="money" value="Donate">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="game-header">Donate Bullets</div>
            <div class="game-box">
                <ul class="statics-menu">
                    <li>
                        <span class="static-name">Bullets:</span>
                        <span class="static-num">{{ crew.data().C_bullets | number_format }}</span>
                    </li>
                </ul>
                <hr>
                <input type="number" class="form-control" name="bullet" placeholder="Amount">
                <span class="text-danger small">Note: You can donate your crew by bullets once every 30 minutes.</span>
                <span class="text-right">
                    <input type="submit" class="btn btn-dark" name="bullets" value="Donate">
                </span>
            </div>
        </div>
    </div>
    <input type="hidden" name="token" value="{{ token }}">
</form>
{% endblock %}