{% extends 'default/layouts/loggedin.html' %}
{% block body %}
<ul class="game-tabs">
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews" class="tab-link">Overview</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/bank" class="tab-link">Crew Bank</a></li>
    {% if user.stats().GS_crewLevel == 6 %}
    <li class="tab-item active"><a href="{{ settings.get('website_url') }}crews/manage" class="tab-link">Manage Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/edit" class="tab-link">Edit Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
    {% elseif user.stats().GS_crewLevel >= 5 %}
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/edit" class="tab-link">Edit Crew</a></li>
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
    {% elseif user.stats().GS_crewLevel >= 4 and user.stats().GS_crewLevel >= 3 and user.stats().GS_crewLevel >= 2 %}
    <li class="tab-item"><a href="{{ settings.get('website_url') }}crews/recruitment" class="tab-link">Crew Recruitment</a></li>
    {% endif %}
</ul>
<form method="post" action="{{ settings.get('website_url') }}crews/manageAction" class="game-body">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-header">Give The Crew</div>
            <div class="game-box">
                <input type="text" class="form-control" name="user" placeholder="Enter Gangster Name">
                <div class="text-right">
                    <input type="submit" name="editRecruiting" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="game-header">Crew Permissions</div>
            <div class="game-box">
                <input type="text" class="form-control" name="user" placeholder="Enter Gangster Name">
                <select class="custom-select form-control" name="level">
                    <option value="5">Underboss</option>
                    <option value="4">Right Hand Man</option>
                    <option value="3">Left Hand Man</option>
                    <option value="2">Recruiter</option>
                    <option value="1">Member</option>
                </select>
                <div class="text-right">
                    <input type="submit" name="editPermission" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-header">Crew Recruiting</div>
            <div class="game-box">
                <select class="custom-select form-control" name="recruiting">
                    <option value="Yes" {% if crew.data().C_recruiting == "Yes" %} selected {% endif %}>Yes</option>
                    <option value="No" {% if crew.data().C_recruiting == "No" %} selected {% endif %}>No</option>
                </select>
                <div class="text-right">
                    <input type="submit" name="editRecruiting" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="game-header">Crew Size</div>
            <div class="game-box">
                <select class="custom-select form-control" name="recruiting">
                    <option value="10" {% if crew.data().C_size == 10 %} selected disabled {% endif %}>10 Gangsters - $10.000.000</option>
                    <option value="30" {% if crew.data().C_size == 30 %} selected {% endif %}>30 Gangsters - $30.000.000</option>
                </select>
                <div class="text-right">
                    <input type="submit" name="editSize" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-header">Give Money</div>
            <div class="game-box">
                <ul class="statics-menu">
                    <li>
                        <span class="static-name">Money:</span>
                        <span class="static-num">${{ crew.data().C_bank | number_format }}</span>
                    </li>
                </ul>
                <hr>
                <input type="text" class="form-control" name="user" placeholder="Enter Gangster Name">
                <input type="number" class="form-control" name="money" placeholder="Enter The Amount">
                <div class="text-right">
                    <input type="submit" name="giveMoney" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="game-header">Give Bullets</div>
            <div class="game-box">
                <ul class="statics-menu">
                    <li>
                        <span class="static-name">Bullets:</span>
                        <span class="static-num">{{ crew.data().C_bullets | number_format }}</span>
                    </li>
                </ul>
                <hr>
                <input type="text" class="form-control" name="user" placeholder="Enter Gangster Name">
                <input type="number" class="form-control" name="bullet" placeholder="Enter The Amount">
                <div class="text-right">
                    <input type="submit" name="giveBullets" value="Save Settings" class="btn btn-dark">
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}