{% extends 'default/layouts/loggedin.html' %}
{% block body %}
<div class="game-body">
    <div class="game-header">Crew Overview</div>
    <div class="game-box p-0">
        <div class="table-responsive">
            <table class="table table-borderless table-sm mb-0">
                <thead>
                    <tr>
                        <th width="20%">Crew Name</th>
                        <th width="20%">Boss</th>
                        <th width="20%">Underboss</th>
                        <th class="10%">Gangsters</th>
                        <th width="15%">Recruiting</th>
                        <th width="15%"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for crew in crews %}
                        <tr>
                            <td>{{ crew.crew.C_name }}</td>
                            <td>{{ crew.boss.data().profile | raw }}</td>
                            <td>
                                {% if crew.crew.C_underboss > 0 %}
                                    {{ crew.underboss.data().profile | raw }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td>{{ crew.gangsters | number_format }}</td>
                            <td>
                                {% if crew.crew.C_recruiting == "Yes" %}
                                    <form method="post" action="{{ settings.get('website_url') }}crews/apply" class="d-inline">
                                        <input type="hidden" name="crew" value="{{ crew.crew.id }}">
                                        <input type="hidden" name="token" value="{{ token }}">
                                        <button class="btn text-white m-0 p-0" style="font-size: 12px;">
                                            Apply
                                            <i class="fas fa-check text-success ml-2"></i>
                                        </button>
                                    </form>
                                {% else %}
                                    <i class="fas fa-minus text-danger"></i>
                                {% endif %}
                            </td>
                            <td><img src="{{ settings.get('website_url') }}{{ crew.crew.C_logo }}" class="img-fluid"></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">There is no crews yet.</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <p class="small text-white">Total: 7 out of 7 crews.</p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<div class="game-body">
    <div class="game-header">Create A Crew</div>
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="game-box">
                <p class="small">To create a crew, you need to be ranked to Cell Boss and have the minimum required funds. Two crew sizes are available holding a maximum of 30 members. Smaller crews can be upgraded at anytime after creation.</p>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="game-box">
                <form method="post" action="{{ settings.get('website_url') }}crews/create">
                    <input type="text" class="form-control" name="name" placeholder="Crew Name">
                    <select class="custom-select-sm form-control" name="size">
                        <option disabled selected>- Crew Size -</option>
                        <option value="10" class="option">10 members - $10,000,000</option>
                        <option value="30" class="option">30 members - $25,000,000</option>
                    </select>
                    <div class="text-center">
                        <input type="hidden" name="token" value="{{ token }}">
                        <button class="btn btn-dark">Create Crew</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}